<div class="container">
    <div class="row">
        <div class="col-8 offset-2 mt-4">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Create Position</h5>
                </div>
                <div class="card-body p-4">

                    <form [formGroup]="formGroup" novalidate>
                        <div class="form-row justify-content-between field-labels d-none d-md-flex">
                            <div class="form-group col-md-3 mb-1">
                                Leverage Token:
                            </div>
                            <div class="form-group col-md-3 mb-1">
                                Pay Token:
                            </div>
                        </div>
                        <div class="form-row border-bottom mb-3">
                            <div class="form-group col-12 col-md-3">

                                <oi-token-selector
                                    id="marginToken"
                                    [token]="marginToken"
                                    [tokenBlackList]="tokenBlackList"
                                    [tokenSpender]="tokenSpender"
                                    (onTokenSelect)="onMarginTokenSelect($event)"
                                ></oi-token-selector>
                            </div>

                            <div class="form-group col-12 col-md-6">

                                <oi-token-amount-field
                                    id="amount"
                                    name="amount"
                                    [token]="payToken"
                                    [(tokenAmountBN)]="amountBN"
                                    [gasPrice]="gasPrice"
                                ></oi-token-amount-field>
                            </div>

                            <div class="form-group col-12 col-md-3">

                                <oi-token-selector
                                    id="fromToken"
                                    [token]="payToken"
                                    [tokenSpender]="tokenSpender"
                                    (onTokenSelect)="onPayTokenSelect($event)"
                                ></oi-token-selector>
                            </div>
                        </div>
                    </form>

                    <div class="pt-4 text-center">
                        <div class="btn-group" btnRadioGroup [(ngModel)]="radioModel">
                            <label class="btn btn-info" btnRadio="Short"
                                   tabindex="0" role="button">Short</label>
                            <label class="btn btn-info" btnRadio="Long"
                                   tabindex="0" role="button">Long</label>
                        </div>
                    </div>
                    <div class="col-12 text-center pt-4">
                        <button class="btn btn-lg btn-success">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
