<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xs-12 mt-4">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Margin trade</h5>
                </div>
                <div class="card-body p-4">
                    <h5 class="text-center">Enter amount to trade</h5>
                    <div class="input-group pt-4">
                        <input type="text" class="form-control" placeholder="Amount"
                               aria-label="Amount">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">MAX</button>
                        </div>
                    </div>
                    <div class="pt-4 text-center">
                        <div class="btn-group" btnRadioGroup [(ngModel)]="radioModel">
                            <label class="btn btn-info" btnRadio="Short"
                                   tabindex="0" role="button">Short</label>
                            <label class="btn btn-info" btnRadio="Long"
                                   tabindex="0" role="button">Long</label>
                        </div>
                    </div>
                    <div class="col-12 text-center pt-4">
                        <button class="btn btn-lg btn-success">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
