<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xs-12 mt-4">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Margin trade</h5>
                </div>
                <div class="card-body p-4">
                    <h5 class="text-center">Pick your leverage</h5>
                    <div class="pt-4 text-center">
                        <div class="btn-group" btnRadioGroup [(ngModel)]="radioModel">
                            <label class="btn btn-info round" btnRadio="1x"
                                   tabindex="0" role="button">1X</label>
                            <label class="btn btn-info round" btnRadio="2x"
                                   tabindex="0" role="button">2X</label>
                            <label class="btn btn-info round" btnRadio="3x"
                                   tabindex="0" role="button">3X</label>
                            <label class="btn btn-info round" btnRadio="4x"
                                   tabindex="0" role="button">4X</label>
                            <label class="btn btn-info round" btnRadio="5x"
                                   tabindex="0" role="button">5X</label>
                        </div>
                    </div>
                    <div class="row pt-4 ml-md-4 mr-md-4">
                        <div class="col-4 col-xs-12 mt-2">Stop loss
                            <fa-icon class="upper"
                                     [icon]="info"
                                     tooltip="Lowest price which will trigger repayment process"></fa-icon>
                        </div>
                        <div class="col-8 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Amount"
                                       aria-label="Amount">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">MAX</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4 ml-md-4 mr-md-4">
                        <div class="col-4 col-xs-12 mt-2">Stop win
                            <fa-icon class="upper"
                                     [icon]="info"
                                     tooltip="Highest price which will trigger repayment process"></fa-icon></div>
                        <div class="col-8 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Amount"
                                       aria-label="Amount">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">MAX</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center pt-4">
                        <button class="btn btn-lg btn-success">Continue</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
