<div class="container">
    <div class="row">
        <div class="col-8 offset-2 mt-4">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Enter amount to trade</h5>
                </div>
                <div class="card-body p-4">
                    <h5 class="text-center">Pick your leverage</h5>
                    <div class="pt-4 text-center">
                        <div class="btn-group" btnRadioGroup [(ngModel)]="radioModel">
                            <label class="btn btn-info" btnRadio="1x"
                                   tabindex="0" role="button">1x</label>
                            <label class="btn btn-info" btnRadio="2x"
                                   tabindex="0" role="button">2x</label>
                            <label class="btn btn-info" btnRadio="3x"
                                   tabindex="0" role="button">3x</label>
                            <label class="btn btn-info" btnRadio="4x"
                                   tabindex="0" role="button">4x</label>
                            <label class="btn btn-info" btnRadio="5x"
                                   tabindex="0" role="button">5x</label>
                        </div>
                    </div>
                    <div class="col-12 text-center pt-4">
                        <button class="btn btn-lg btn-success">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
