.active {
    background: #ea262a  !important;
    border: solid #ea262a 1px !important;
    box-shadow: none !important;
}
.round {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 100px !important;
}
.upper {
    font-size: 11px !important;
    padding: 2px;
}
